* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
  text-align: center;
}

#calculator {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
  background-color: #f8f9f9;
  border-radius: 16px;
}
#display{
  width: 100px;
  height: 30px;
  
}

/*#eeefee*/